.form{
    background-color: powderblue;
    color: black;
    padding-left: 30px;
    width: 30%;
    height: 450px;
    padding-top: 10px;
}
.h1{
    color: black;
    margin-left: 100px;
    
}
.can{
    margin-left: 100px;
    ma

}